server_backup_2026-05-24/n8n-workflows/amo_fintablo_before_dedupe_v2.json
[{"updatedAt":"2026-05-05T09:25:59.316Z","createdAt":"2026-05-04T10:18:36.499Z","id":"9sjdTrPk9C33LWPB","name":"amoCRM → Финтабло: завершенные сделки","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"amocrm-fintablo-deal","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-688,0],"id":"3d7b47e2-1d81-4b8b-88a5-cfa01ac3cdc7","name":"Webhook","webhookId":"95eae733-16f9-4a44-a72c-8f16dba2b053"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"2c92d1d5-c897-43bd-b09d-ca905f383437","leftValue":"={{ $json[\"body\"][\"leads[update][0][status_id]\"] }}\n\n\n","rightValue":"142","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-416,96],"id":"360a2ac4-9c27-4301-b3a5-3339f3798226","name":"If"},{"parameters":{"method":"POST","url":"https://api.fintablo.ru/v1/deal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer t1.afmR76jdawhZYFj2CD4UYqKVM6JYCF8baunp8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json[\"body\"][\"leads[update][0][name]\"] }}\n"},{"name":"amount","value":"={{ $json[\"body\"][\"leads[update][0][price]\"] }}"},{"name":"currency","value":"RUB"},{"name":"comment","value":"=Создано из amoCRM. ID сделки: {{ $json[\"body\"][\"leads[update][0][id]\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-272,-96],"id":"27fba89c-ae1a-41ae-95d3-a8e2e5412aa6","name":"HTTP Request"},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nif (!store.processedAmoDealIds) {\n  store.processedAmoDealIds = {};\n}\n\nconst freshItems = [];\nfor (const item of items) {\n  const leadId = item.json?.body?.['leads[update][0][id]'];\n  if (!leadId) {\n    freshItems.push(item);\n    continue;\n  }\n\n  const key = String(leadId);\n  if (store.processedAmoDealIds[key]) {\n    continue;\n  }\n\n  store.processedAmoDealIds[key] = new Date().toISOString();\n  freshItems.push(item);\n}\n\nreturn freshItems;"},"id":"amo-deal-dedupe-code","name":"Антидубль по ID сделки AMO","type":"n8n-nodes-base.code","typeVersion":2,"position":[-344,0]}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Антидубль по ID сделки AMO","type":"main","index":0}],[]]},"Антидубль по ID сделки AMO":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"d6dcd7b3-48db-4afd-bbee-3557af5d7bfd","activeVersionId":"d6dcd7b3-48db-4afd-bbee-3557af5d7bfd","versionCounter":27,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-04T10:18:36.499Z","createdAt":"2026-05-04T10:18:36.499Z","role":"workflow:owner","workflowId":"9sjdTrPk9C33LWPB","projectId":"9lyp3ORpZn8Fy6GZ","project":{"updatedAt":"2026-05-04T09:56:08.121Z","createdAt":"2026-05-02T08:10:25.884Z","id":"9lyp3ORpZn8Fy6GZ","name":"SVETLANA VOLCHKOVA <swet757@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e61d929d-e3cf-466c-b248-d5e588844181"}}],"versionMetadata":{"name":"Version 11efe8ab","description":""}}]