swetlana-workflows это проект из н8н/JqJY0PrpcCly60Fj-amoCRM_.json
{
  "name": "amoCRM → Финтабло: завершенные сделки",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amocrm-fintablo-deal",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6bee3d96-3bed-4626-aa25-180c7b00b914",
      "name": "Webhook",
      "webhookId": "95eae733-16f9-4a44-a72c-8f16dba2b053"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c92d1d5-c897-43bd-b09d-ca905f383437",
              "leftValue": "={{ $json[\"body\"][\"leads[update][0][status_id]\"] }}\n\n\n",
              "rightValue": "85578126",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "e926ee1d-bb18-4bc8-a3dc-64421df260db",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fintablo.ru/v1/deal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer t1.YcUh47auDgbd55RnAtxuYw2wwAHVzg36j6G6Y"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json[\"body\"][\"leads[update][0][name]\"] }}\n"
            },
            {
              "name": "amount",
              "value": "={{ $json[\"body\"][\"leads[update][0][price]\"] }}"
            },
            {
              "name": "currency",
              "value": "RUB"
            },
            {
              "name": "comment",
              "value": "=Создано из amoCRM. ID сделки: {{ $json[\"body\"][\"leads[update][0][id]\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -96
      ],
      "id": "8e9e8093-34ff-45f8-acbb-2c6bf17885e5",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}