Бот для телеграмм -АI- шеф повар/n8n_ai_chef_bot_workflow_v2.json
{
  "name": "AI chef Telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "3f8d2c10-5d8e-4eb5-8a8d-4ee0e812a101",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || '' }}",
        "options": {
          "systemMessage": "Ты ИИ-шеф-повар в Telegram. Отвечай по-русски, коротко и практично. Помогай подобрать рецепт по продуктам пользователя, указывай порции, время, шаги приготовления и замены ингредиентов. Если пользователь прислал не еду или вопрос непонятен, задай один уточняющий вопрос. Не выдумывай наличие продуктов, которых пользователь не называл."
        }
      },
      "id": "9c69eb50-c9b5-47cd-91b9-ecb06e40cb22",
      "name": "AI Chef Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -180,
        120
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "66cb492e-a0d5-4b8c-964e-3be652a60df6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        380
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "52fe757e-64f6-49d7-909e-2e37e3438543",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        380
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output || 'Не смог приготовить ответ. Попробуйте написать запрос еще раз.' }}",
        "additionalFields": {}
      },
      "id": "d99786c8-185e-4a22-9629-52a997d866af",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Chef Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Chef Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Chef Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Chef Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e76752c9-7932-4bff-8d36-2d089e8a02dc",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
