бот-консультант n8n/cash_flow_lifesaver_n8n_cloud_2026-06-02_v2.json
{
  "name": "Cash Flow Lifesaver - n8n Cloud v2",
  "nodes": [
    {
      "id": "f667e158-63a5-499a-bbba-78e00b022487",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        416,
        240
      ],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Ты — Cash Flow Lifesaver, финансовый ассистент для малого бизнеса.\nТвоя задача — помогать собственнику быстро понять, что делать с деньгами, кассовыми разрывами и платежным календарем.\n\nСтиль:\n- Пиши по-русски, коротко и по делу.\n- Не используй сложную теорию и англицизмы без необходимости.\n- Термины: выручка, прибыль, деньги, дебиторская задолженность, платежный календарь, кассовый разрыв.\n- Если данных нет, так и пиши: данных нет.\n- Не выдумывай цифры.\n\nСтартовые сценарии:\n1. emergency — кассовый разрыв, деньги нужны завтра.\n2. profit_vs_cash — прибыль есть, а денег нет.\n3. calendar — хочу научиться планировать.\n\nЕсли пользователь пишет про срочную нехватку денег, долги, зарплату, аренду или налоги — веди в emergency.\nОтвет emergency:\nНе паникуй, вот три шага, которые помогут сегодня:\n1. Отложи все платежи, которые не остановят бизнес прямо сейчас.\n2. Позвони клиентам-должникам и предложи скидку 3-5%, если оплатят сегодня.\n3. Договорись с арендодателем или поставщиком о переносе платежа на неделю.\nЧек-лист 5 шагов: https://drive.google.com/file/d/1Ui_lXPZqy6x7wiX__ASeZUCkHJqFt4Il/view?usp=drive_link\nПлатежный календарь: https://docs.google.com/spreadsheets/d/1Udx77aRfCAn0kGeKyT95B_hPf3rDDleoH9-CfBIuwAU/edit?usp=sharing\n\nЕсли пользователь пишет, что прибыль есть, но денег нет — веди в profit_vs_cash.\nОтвет profit_vs_cash:\nПрибыль — это результат на бумаге. Деньги — это остаток на счете и в кассе.\nДеньги чаще всего застревают в трех местах:\n1. Дебиторская задолженность: клиенты еще не оплатили.\n2. Склад: деньги лежат в товаре.\n3. Кредиты и долги: тело кредита забирает деньги, но не уменьшает прибыль.\nГайд прибыль vs деньги: https://drive.google.com/file/d/1FH8axlGXvUMtMXyrCwgFtfPyNNs0UP8n/view?usp=drive_link\n\nЕсли пользователь хочет порядок и планирование — веди в calendar.\nОтвет calendar:\nПлатежный календарь показывает будущие приходы и расходы по дням. Если минус видно заранее, есть время найти решение.\nШаблон платежного календаря: https://docs.google.com/spreadsheets/d/1Udx77aRfCAn0kGeKyT95B_hPf3rDDleoH9-CfBIuwAU/edit?usp=sharing\n\nFAQ:\nНа какой срок планировать? Для начала на 2 недели вперед, потом на 1 месяц.\nКто должен вести календарь? Тот, кто распоряжается деньгами. Сначала собственник, потом можно делегировать.\nЧто делать, если разрывы каждый месяц? Проверить маржу, цены, постоянные расходы и дисциплину оплат клиентов.\n\nЕсли вопрос не относится к деньгам бизнеса, мягко верни разговор к кассовым разрывам, прибыли, деньгам и платежному календарю.\n\nResponse format:\n- Do not use markdown headings or symbols like #, ##, ###, *, **.\n- Write in plain clean text with short paragraphs.\n- Give links as raw URLs on separate lines, without markdown or brackets.\n- Do not start the answer with ### or hyphen bullets unless a numbered list is truly necessary."
        },
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "720d793e-700c-4bdd-b245-2606526611d3",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -912,
        208
      ],
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "25352655-6e1f-407d-85ad-a4a76749ed33",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -608,
        208
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "text",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d8bad218-962a-4e84-81f1-36ac2efc5020",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "audio",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "29f730aa-5a5d-4e16-b989-673c49dc8db0",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {},
        "looseTypeValidation": "="
      },
      "typeVersion": 3.4
    },
    {
      "id": "2118180e-43e7-4789-b01a-db1e06757b69",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -304,
        144
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "start",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "39ed8122-649f-4bd8-be6d-cdf2b2bfb315",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "prompt",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "33dce3fc-4038-45c2-970d-3f7a94fb4899",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.4
    },
    {
      "id": "f480345a-aa26-49ae-83d6-7c5c95090ee1",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        0,
        0
      ],
      "parameters": {
        "text": "Привет! я твой финансовый ассистент. я помогаю решать проблемы с деньгами в бизнесе без душной теории и сложных формул.\n\nВыбери, что сейчас ближе:\n1. Кассовый разрыв: деньги нужны завтра\n2. Прибыль есть, а денег нет\n3. Хочу научиться планировать",
        "chatId": "={{ $json.message.chat.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c492baac-5b8a-463a-859a-26c46f58d02e",
      "name": "Get a file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -432,
        320
      ],
      "parameters": {
        "fileId": "={{ $json.message.voice.file_id }}",
        "resource": "file",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "3fd8fd5e-501b-4b9f-862a-fce64ec41bb4",
      "name": "Transcribe a recording",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -224,
        320
      ],
      "parameters": {
        "options": {},
        "resource": "audio",
        "operation": "transcribe"
      },
      "typeVersion": 2.1
    },
    {
      "id": "6effc2c4-ca35-4504-8427-c068d33540e2",
      "name": "Send a text message1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        912,
        240
      ],
      "parameters": {
        "text": "={{ $json.output }}",
        "chatId": "={{ $('Merge').item.json.message.chat.id }}",
        "additionalFields": {
          "parseMode": "HTML",
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c3d67605-1470-4ab8-b121-8649fdb11c48",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        320
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c3bf0244-021e-4812-a76a-0996991bf66a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "0d59b787-e8ab-4b43-b9b4-64bb2ee92240",
              "name": "message.chat.id",
              "type": "number",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "a95ce8e4-9815-4e26-aafd-bae458c23a75",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        160
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "0d59b787-e8ab-4b43-b9b4-64bb2ee92240",
              "name": "message.chat.id",
              "type": "number",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "id": "4a9126ee-919f-4f29-95ff-df4b0141b577",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "f82e1ea2-55a7-4038-859c-ed9059214f44",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        240,
        240
      ],
      "parameters": {},
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "id": "42a5e73f-b205-4961-8e79-97aff33af3fe",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        272,
        480
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultUrl": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "typeVersion": 1.3
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2d64648d-702c-47ad-bf08-960aea39b8a2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
